::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border: 4px solid transparent;
    border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: #1f2125;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: overlay;
}

li {
    margin: 1.2vh 0;
}

ul.no_dot {
    list-style-type: none;
}

.content {
    max-width: 45rem;
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.title {
    color: #2dbecf;
    font-size: 3.5rem;
    margin-bottom: 4vh;
}

.header {
    color: #2dbecf;
    font-size: 2.4rem;
    margin-bottom: 2vh;
    margin-left: 2vw
}

.sub_header {
    color: #2dbecf;
    font-size: 1.5rem;
    margin-bottom: 2vh;
    margin-left: 2vw
}

.text {
    color: white;
    font-size: 1rem;
    margin-bottom: 7vh;
    margin-left: 2vw
}

a.link {
    color: #1c7fff;
}

.video {
    width: 35rem;
    height: 19.6875rem;
}